body{
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.searchbar{

    padding: 6px;
    border: 1x solid #ccc;
    border-radius: 5%;
    font-size:  17px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: medium;
        text-align: center;
        color: rgb(167, 108, 222);
    }
    
}

#map {
    height: 180px; 
    width: 300px;
    z-index: 1;
  }
