body{
    display: flex;
}

.nav{
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

header{
    background-color: rgba(142, 89, 161, 0.529);
    padding: 20px;
    text-align: center;
}

.searchbar{

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size:  15px;
    width: 500px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: medium;
        text-align: center;
        color: rgb(167, 108, 222);
    }
    
}

#map {
    height: 300px; 
    width: 500px;
  }
